/* ==========global========== */

@font-face {
    font-family:"cinzel" ;
    src: url(../fonts/Cinzel/static/Cinzel-Regular.ttf);
}
@font-face {
    font-family:"poppins" ;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========classes========== */

.fontCinzel{
    font-family: "cinzel";
}

.fontPoppins{
    font-family: "poppins";
}



/* ==========header========== */


.logo{
    font-size: 1.8vw;
    padding: 1% 1%;
    color: #999;
}

.backgroundImg{
    background: url(https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
    background-size: contain;
    width: 100vw;
    height: 50vw;
    background-repeat:no-repeat;
}

.backgroundImgText{
    padding-top: 18%;
    font-size: 3vw;
    width: 19vw;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}



/* ==========main========== */

.mainTextArticle{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainTextArticle h3{
    font-size: 2vw;
}

